<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
          crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
</head>
<body>
<div class="container-fluid">

    <!--navigatioin bar-->
    <div th:include="~{fragments/header}"></div>

    <!--dashboard body-->
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4 ml-5">

                <!--user detail-->
                <div th:include="~{fragments/UserDetail}"></div>

                <!--subscription-->
                <div class="card mt-4" style="font-family: fantasy; border: blue 1px solid">
                    <div class="card-header bg-primary text-white p-2">
                        <b>Subscriptions</b>
                    </div>
                    <div class="card-body p-2" >
                        <div class="row" th:each="subscribedTopic:${Alltopic}">

                            <!--th:each="userSubscription : ${userCO.getUserSubscriptions()}"-->

                            <div class="col">
                                <div class="row">
                                    <div class="col-md-2">
                                        <img th:src="${'images/'+subscribedTopic.getUser().photo}" alt="image" width="70px"
                                             height="70px" style="border-radius: 50%">
                                    </div>

                                    <div class="col-md-10">
                                        <div class="form-control-md ml-2" style="font-family: fantasy">
                                            <a href="#" th:text="${subscribedTopic.getTopic().getName()}"></a>


                                        </div>
                                        <div class="card-text form-control-sm"
                                             style="text-align: justify; font-family: fantasy">
                                            <div class="row mt-2">
                                                <div class="col">
                                                    <div class="p-0" th:text="${subscribedTopic.getTopic().getCreatedBy()}">

                                                    </div>
                                                    <div>

                                                        <a href="#">Unsubscribe</a>
                                                    </div>
                                                </div>
                                                <div class="col">
                                                    <div class="p-0">Subscriptions</div>
                                                    <div id="subscriptions">
                                                        <p th:name="subscription" th:text="${subscribedTopic.topic.subscriptionCount}">
                                                        </p>
                                                    </div>
                                                </div>
                                                <div class="col">
                                                    <div class="p-0">Post</div>
                                                    <div>
                                                        <p th:name="postNumber" th:text="${subscribedTopic.topic.postCount}">
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col dropdown show " th:object="${subscriptionCO}">

                                        <div><select name="seriousness" class="col-md-8 mb-4 text-black"
                                                     th:field="*{seriousness}"
                                                     style="max-width:100%;font-size:15px;">
                                            <option th:each="seriousness:${T(com.ttn.linkSharing.enums.Seriousness).values()}"
                                                    th:value="${seriousness}"
                                                    th:text="${seriousness}"></option>
                                        </select>
                                        </div>
                                    </div>
                                    <div class="col dropdown show m-0" th:object="${topicCO}">

                                        <div><select name="visibility" class="col-md-4 ml-2 mb-4 text-black"
                                                     th:field="${topicCO.visibility}" id="visibility"
                                                     style="max-width:100%;font-size:15px;">
                                            <small>
                                                <option th:each="visibility:${T(com.ttn.linkSharing.enums.Visibility).values()}"
                                                        th:value="${visibility}"
                                                        th:text="${visibility}"></option>
                                            </small>

                                        </select>
                                        </div>
                                    </div>

                                        <div class="col float-right">
                                            <a href="#"><i class="far fa-envelope fa-lg mr-2"></i></a>
                                            <a href="#"><i class="fas fa-edit fa-lg mr-2"></i></a>
                                            <a href="#"><i class="far fa-trash-alt fa-lg"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--trending topics-->
                    <div th:include="~{fragments/TrendingTopic}"></div>
                </div>

                <div class="col-md-7" style="font-family: fantasy">

                    <!--inbox-->
                    <div class="card" style="border: blue 1px solid">
                        <div class="card-header bg-primary text-white p-2">
                            <b>Inbox</b>
                        </div>
                        <div class="card-body p-2">
                            <div class="row">
                                <div class="col">
                                    <div class="row">
                                        <div class="col-md-2">
                                            <img th:src="${'images/'+userCO.photo}" alt="image" width="80px"
                                                 height="80px" style="border-radius: 50%">
                                        </div>

                                        <div class="col-10 pl-0">
                                            <div class="form-control-md mr-1" style="font-family: fantasy">
                                                <b>Username</b>
                                                <a href="#">@userid</a>
                                                <a href="#" class="float-right">Topic</a>
                                            </div>
                                            <div class="card-text form-control-sm p-0"
                                                 style="text-align: justify; font-family: fantasy">
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur
                                                dolore dolores doloribus earum enim et excepturi facere fuga ipsa ipsu
                                            </div>
                                            <div class="row float-right mr-2">
                                                <a class="mr-3" href="" download >Download</a>
                                                <a class="mr-3" href="#" target="_blank">View full site</a>
                                                <a class="mr-3" href="#">Mark as read</a>
                                                <a href="/resource">View post</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--footer-->
        <div th:include="~{fragments/footer}"></div>
    </div>
</body>
</html>