<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css}">
    <script th:src="@{//ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js}"></script>
    <script th:src="@{//maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js}"></script>
    <title>Forgot Password</title>
</head>
<body>
<div class="col-sm-4"></div>
<div class="container">
    <div class="col-sm-4">
        <form th:action="@{/forget}" method="post">
            <h2 class="text-center">Forgot Password</h2>
            <div class="form-group">
                <div class="input-group" style="width: 100%">
                    <input type="email" class="form-control" th:name="email"
                           placeholder="Email" required="required" style="border-radius: 4px"/>
                </div>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-info login-btn btn-block">Send Password</button>
            </div>
            <div class="text text-primary" th:text="${errorMessage}?${errorMessage}:${successMessage}"></div>
        </form>
    </div>
</div>
</body>
</html>