
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User Profile</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
          crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
</head>

<body>
<div class="container-fluid">

    <!--navigatioin bar-->
    <div th:include="~{fragments/header}"></div>

    <!--edit profile body-->
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4 ml-5">

                <div th:include="~{fragments/UserProfile}"></div>

                <div class="card mt-4" style="font-family: fantasy; border: blue 1px solid">
                    <div class="card-header bg-primary text-white p-2">
                        <b>Topics</b>
                    </div>
                    <div class="card-body p-2">
                        <div class="row">

                            <div class="col-md-12">

                                <div class="card-text form-control-sm"
                                     style="font-family: fantasy">
                                    <div class="row mt-0">
                                        <div class="col-5">
                                            <div><a href="#">Topic</a></div>
                                            <div class="row m-0">
                                                <div class="col dropdown show">
                                                    <select class="form-control form-control-sm bg-primary text-white ml-1" id="seriousnessSelect">
                                                        <option th:each="seriousness : ${T(com.ttn.linkSharing.enums.Seriousness).values()}"
                                                                th:value="${seriousness}"
                                                                th:text="${seriousness.getValue()}"></option>
                                                    </select>
                                                </div>
                                                <a href="#"><i class="far fa-envelope fa-lg mt-2 form-control-primary"></i></a>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="p-0">Subscriptions</div>
                                            <div id="subscriptions">
                                                <p th:name="subscrption">50</p>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="p-0">Post</div>
                                            <div>
                                                <p th:name="postNumber">3</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <!--topics that user has subscribed-->
                <div class="card mt-4" style="font-family: fantasy; border: blue 1px solid">
                    <div class="card-header bg-primary text-white p-2">
                        <b>Subscriptions</b>
                    </div>
                    <div class="card-body p-2">
                        <div class="row">
                            <div class="col-md-12">

                                <div class="card-text form-control-sm"
                                     style="font-family: fantasy">
                                    <div class="row mt-0">
                                        <div class="col-5">
                                            <div><a href="#">Topic</a></div>
                                            <div class="row m-0">
                                                <div class="dropdown form-control-sm pl-0">
                                                    <button class="btn btn-sm btn-primary dropdown-toggle" type="button"
                                                            id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                                                            aria-expanded="false">
                                                        Seriousness
                                                    </button>
                                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                        <a class="dropdown-item" href="#">Serious</a>
                                                        <a class="dropdown-item" href="#">Casual</a>
                                                        <a class="dropdown-item" href="#">Very Serious</a>
                                                    </div>
                                                </div>
                                                <a href="#"><i class="far fa-envelope fa-lg mt-2 form-control-primary"></i></a>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="p-0">Subscriptions</div>
                                            <div id="subscriptions">
                                                <p th:name="subscrption">50</p>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="p-0">Post</div>
                                            <div>
                                                <p th:name="postNumber">3</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>

            <div class="col-md-7" style="font-family: fantasy">

                <!--posts that user has created-->
                <div class="card" style="border: blue 1px solid; font-family: fantasy">
                    <div class="card-header p-2 bg-primary text-white">
                        <b>Posts</b>
                    </div>
                    <div class="card-body">
                        <div class="row mb-2">
                            <div class="col">
                                <div class="row">

                                    <div class="col-md-12">
                                        <div class="form-control-md ml-2">
                                            <span id="topicName" name="topicName"><b>Topic Name</b></span>
                                        </div>
                                        <div class="card-text form-control-sm"
                                             style="text-align: justify">
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur
                                            dolore dolores doloribus earum enim et excepturi facere fuga ipsa ipsu
                                        </div>
                                        <div class="card-text form-control-sm">
                                            <span class="float-right">
                                                <a href="#" class="ml-2">Download</a>
                                                <a href="#" class="ml-2">View full site</a>
                                                <a href="#" class="ml-2">Mark as read</a>
                                                <a href="#" class="ml-2">View post</a>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!--footer-->
    <div th:include="~{fragments/footer}"></div>
</div>
</body>

</html>