<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>headerForViewTopic</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
          crossorigin="anonymous">

    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <script th:src="@{https://code.jquery.com/jquery-1.12.4.js}"></script>
    <script th:src="@{https://code.jquery.com/ui/1.12.1/jquery-ui.js}"></script>

</head>
<body>
<div th:fragment="headerForViewTopic">
    <nav class="navbar navbar-light bg-light justify-content-between mr-5 ml-5 mt-2 mb-3 pr-5 pl-5 rounded">
        <a class="navbar-brand">
            <img src="images/LinkShare.png" width="40px" height="40px">
            <en style="font-weight: bold; color: blue; font-family: 'fantasy'">Link Sharing</en>
        </a>
        <div class="form-inline">
            <div class="input-group md-form form-sm form-1 pl-0">
                <div class="input-group-prepend">
                    <span class="input-group-text purple lighten-3" id="basic-text1">
                        <i class="fas fa-search text-white" aria-hidden="true"></i>
                    </span>
                </div>

                <input class="form-control my-0 py-1" type="text" placeholder="Search" aria-label="Search">
            </div>

            <a href="#" class="ml-2" data-toggle="modal" data-target="#shareLinkModal"><i class="fas fa-link fa-lg"></i></a>
            <a href="#" class="ml-2" data-toggle="modal" data-target="#shareDocumentModal"><i
                    class="fas fa-sticky-note fa-lg"></i></a>
            <a href="#" class="ml-5"><img th:src="@{'/images/'+${userCO.photo}}" height="40" width="40px"
                                          style="border-radius: 50%"></a>
            <div class="btn-group">
                <button type="button" class="btn btn-sm btn-light dropdown-toggle" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false" th:text="${userCO.userName}">

                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" th:href="@{/Profile}">
                        <small>Profile</small>
                    </a>
                    <a class="dropdown-item" th:href="@{/UserDetail}">
                        <small>Users</small>
                    </a>
                    <a class="dropdown-item" th:href="@{/Topic}">
                        <small>Topics</small>
                    </a>
                    <a class="dropdown-item" th:href="@{/post}">
                        <small>Posts</small>
                    </a>
                    <a class="dropdown-item" href="/logout">
                        <small>Logout</small>
                    </a>
                </div>
            </div>


            <!--share document-->
            <div class="modal fade" id="shareDocumentModal" tabindex="-1" role="dialog"
                 aria-labelledby="shareDocumentModal" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title form-control-sm">Share Document</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form method="post" th:action="@{/createDocument}" th:object="${documentResourceCO}"

                                  action="#" style="font-family: fantasy" enctype="multipart/form-data">
                                <div class="form-group row">
                                    <label
                                            class="col-md-4 col-form-label form-control-sm mb">Document*</label>
                                    <div class="col-md-8">
                                        <div class="form-group">
                                            <input type="file" class="form-control-file"

                                                   name="documentUpload" id="documentUpload" REQUIRED>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="descpription" class="col-md-4 col-form-label form-control-sm">Description*</label>
                                    <div>
                                                <textarea class="form-control form-control-sm mt-2 ml-3"
                                                          th:field="${documentResourceCO.description}"
                                                          id="descpription1"
                                                          rows="2" REQUIRED></textarea>
                                    </div>

                                </div>
                                <div class="form-group row">
                                    <label
                                            class="col-md-4 col-form-label form-control-sm">Topic*</label>

                                    <div>
                                        <select name="topic-name" class="col-md-8 ml-2 mb-4 text-black"
                                                style="max-width:100%;"
                                                REQUIRED>
                                            <option th:each="subscriptionTopicList:${Alltopic}"
                                                    th:value="${subscriptionTopicList.getTopic().getName()}"
                                                    th:text="${subscriptionTopicList.getTopic().getName()}"></option>

                                        </select>
                                    </div>
                                </div>
                                <div>
                                    <div class="modal-footer">

                                        <input type="submit" value="SAVE" class="btn btn-info btn-sm"/>
                                        <button type="button" class="btn btn-info btn-sm" data-dismiss="modal">Cancel
                                        </button>
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>


            <div class="modal fade" id="shareLinkModal" tabindex="-1" role="dialog"
                 aria-labelledby="shareLinkModal" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title form-control-sm">Share Link</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form method="post" style="font-family: fantasy" th:action="@{/createLink}" action="#" th:object="${linkResourceCO}">
                                <div class="form-group row">
                                    <label for="linkURL"
                                           class="col-md-4 col-form-label form-control-sm mb">Link*</label>
                                    <div class="col-md-8">
                                        <input type="text" class="form-control form-control-sm"
                                               name="invitation-Email" th:field="${linkResourceCO.linkURL}"
                                               id="linkURL" placeholder="Name" REQUIRED>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="descpription" class="col-md-4 col-form-label form-control-sm">Description*</label>
                                    <div>
                                        <textarea class="form-control form-control-sm mt-2 ml-3" th:field="${linkResourceCO.description}"id="descpription" rows="2" required></textarea>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label
                                            class="col-md-4 col-form-label form-control-sm">Topic*</label>

                                    <div>
                                        <select name="link-topic-name" class="col-md-8 ml-2 mb-4 text-black"
                                                style="max-width:100%;"
                                                REQUIRED>
                                            <option th:each="subscriptionTopicList:${Alltopic}"
                                                    th:value="${subscriptionTopicList.getTopic().getName()}"
                                                    th:text="${subscriptionTopicList.getTopic().getName()}"></option>

                                        </select>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <input type="submit" value="SAVE" class="btn btn-info btn-sm"/>
                                    <button type="button" class="btn btn-info btn-sm" data-dismiss="modal">Cancel
                                    </button>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </nav>
</div>
</body>
</html>