
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title> Topic</title>
</head>
<body>
<div th:fragment="Topic">
    <div class="card mt-4" style="font-family: fantasy; border: blue 1px solid">
        <div style="font-weight: bold;border-color: white" class="card-header bg-info text-white  ">
            <b>Topics</b>
        </div>
        <div class="card-body p-2" th:each="Topic:${topicList}">
            <div class="row">
                <div class="col">
                    <div class="row">
                        <div class="col-md-2">
                            <img th:src="@{'images/'+${Topic.getPhoto()}}" alt="image" width="70px"
                                 height="70px" style="border-radius: 50%">
                        </div>

                        <div class="col-md-10">
                            <div class="form-control-md ml-2" style="font-family: fantasy">
                                <a href="#" th:text="${Topic.getName()}"></a>
                            </div>
                            <div class="card-text form-control-sm"
                                 style="text-align: justify; font-family: fantasy">
                                <div class="row mt-2">
                                    <div class="col">
                                        <div class="p-0" th:href="@{/userProfile}" >@<span th:text="${Topic.getCreatedBy()}"></span></div>
                                        <div>
                                            <a href="#">Subscribe</a>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="p-0">Subscriptions</div>
                                        <div id="subscriptions-trendingTopics">
                                            <p th:name="subscrption" th:text="${Topic.getSubscriptionCount()}"></p>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="p-0">Post</div>
                                        <div>
                                            <p th:name="postNumber" th:text="${Topic.getPostCount()}"></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col dropdown show " th:object="${subscriptionCO}">

                            <div><select name="seriousness" class="col-md-12 mb-4 text-black"
                                         th:field="${subscriptionCO.seriousness}" id="seriousness" style="max-width:100%;font-size:15px;">
                                <small><option th:each="seriousness:${T(com.ttn.linkSharing.enums.Seriousness).values()}"
                                               th:value="${seriousness}"
                                               th:text="${seriousness}"></option></small>
                            </select>
                            </div>
                        </div>
                        <div class="col dropdown show m-0" th:object="${topicCO}">

                            <div><select name="visibility" class="col-md-8 ml-2 mb-4 text-black"
                                         th:field="${topicCO.visibility}" id="visibility" style="max-width:100%;font-size:15px; ">
                                <small><option th:each="visibility:${T(com.ttn.linkSharing.enums.Visibility).values()}"
                                               th:value="${visibility}"
                                               th:text="${visibility}"></option></small>

                            </select>
                            </div>
                        </div>
                        <div class="col float-right">
                            <a  href="#"><i data-toggle="modal" data-target="#sendInvitation1" class="far fa-envelope fa-lg mr-2" ></i></a>
                            <a href="#"><i class="fas fa-edit fa-lg mr-2"></i></a>
                            <a name="id" th:href="@{'/topic/'+${Topic.getId()}}"><i class="far fa-trash-alt fa-lg"></i></a>
                        </div>


                        <div class="modal fade" id="sendInvitation1" tabindex="-1" role="dialog"
                             aria-labelledby="sendInvitation" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title form-control-sm">Send Invitation</h4>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <form method="post" style="font-family:fantasy;" ACTION="#" th:action="@{/invite}">
                                            <div class="form-group row">
                                                <label for="invitation-Email"
                                                       class="col-md-4 col-form-label form-control-sm mb">Email*</label>
                                                <div class="col-md-8">
                                                    <input type="text" class="form-control form-control-sm"
                                                           name="invitation-Email"
                                                           id="invitation-Email"  placeholder="Name" REQUIRED>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label
                                                        class="col-md-4 col-form-label form-control-sm">Topic*</label>

                                                <input readonly type="text" name="invite-topic-name"   th:placeholder="${Topic.getName()}" class="col-md-8 mb-4 text-black"
                                                       th:value="${Topic.getName()}" />


                                            </div>

                                            <input type="submit"class="btn btn-primary btn-sm" value="INVITE"/>
                                            <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Cancel
                                            </button>
                                        </form>

                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>


                </div>
        </div>

        </div>

</div>
</div>
</body>
</html>